.aboutusl{
    background-color:#edffe9;
    /* background-color:#3eff17;  */
}
.aboutusd{
    /* background-color:#edffe9; */
    /* background-color: #05a000 ;  */
    background-image:url('../images/c1blur.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Amaranth';font-size: 14px;
}
.about-section {
    padding: 2em 0;
}
.site-title  {
    padding: 2em 0;
}
.site-title h3 {
    font-size: 2.5em;
    color: darkgreen;
    font-family: 'Marvel-Regular';
    font-weight: 700;
}
.site-title p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin-top: 0.5em;
}

.about-inner-column h4 {
    font-size: 2.5em;
    color: darkgreen;
    font-family: 'Marvel-Regular';
}
.about-inner-column p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.8em;
    margin: 1em 0 0;
}

.about-inner-column ul li a {
    display: flex;
    color: #333333;
    font-size: 1.1em;
    padding-left: 2em;
    align-items: center;
    justify-content: center;
}
.about-right img {
    width: 100%;
}
.li{
    margin:0 0 20px 0;
    color:white;
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
}
.ul {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.itembox{
display: flex;
flex-direction: column;
    width: 100%;
    padding:10px 10px;
    border-style: solid;
    margin:10px 0px;
   
}
.images{
    width:"80%";
    height: 40vh;
}

.carousel{
    width: 70vw;
}
.form{
    width: 30vw;
    height: 30rem;
    background-color: lightgreen;
    padding:30px 0px;
    background-image: url('../images/c1blur.png');
    color: white;
}

.adjust{
    display: flex;
}

.y-us-section {
    padding: 2em 0;
    overflow-x: hidden;
}
.y-us-head {
    text-align: center;
    margin: 0 0 30px;
}
.y-us-title h2 {
    color: #000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: uppercase;
    margin-bottom: 6px;
}
.y-us-title > p {
    color: #777777;
    line-height: 22px;
}
.y-us-title-border {
    background: #ffae11 none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 3px;
    position: relative;
    width: 50px;
}
.service-3 .service-box {
    margin-bottom: 18px;
}
.service-3 .service-box .iconset {
    float: left;
    text-align: center;
    width: 15%;
}
.service-3 .service-box .iconset i {
    color: #000;
    font-size: 44px;
}
.service-3 .service-box .y-us-content {
    float: left;
    width: 75%;
}
service-3 .service-box .y-us-content h4 {
    color: #3a3a3a;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    margin: 14px 0 12px;
    text-transform: uppercase;
}
.service-3 .service-box .y-us-content p {
    color: #777777;
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
}

.icon {
    color : #f4b841;
    padding:0px;
    font-size:40px;
    border: 1px solid green;
    border-radius: 100px;
    color: #fdb801;
    font-size: 28px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    width: 70px;
}

.checkbox{
    display: flex;
    width: 100%;
    padding: 0 20px;
    align-items: center;
    justify-content: space-evenly;
}

/* The container */
.container1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container1:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container1 input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container1 .checkmark:after {
       top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }



@media (min-width: 300px) and (max-width: 800px) {
    .adjust{
        display: flex;
        flex-direction: column;
    }
    .carousel{
        width: 100vw;
        
    }
    .form{
        width: 100vw;
        height: 30rem;
        padding: 10px 0;
    }
  }
  
  /* @media (min-width: 768px) {
  }
  
  @media (min-width: 992px) {
  } */
  
  @media (min-width: 800px) {
    
  }
  